<div class="container">
  <ol style="margin-left: 50px">
    <button routerLink="/start" class="back-button">Back to start</button>
    <li>
      <div class="question">
        <p>{{ question1.question }}</p>
        <ol type="a">
          <li *ngFor="let answer of question1.answers">{{ answer }}</li>
        </ol>
      </div>
    </li>
    <li>
      <div class="question">
        <p>{{ question2.question }}</p>
        <ol type="a">
          <li *ngFor="let answer of question2.answers">{{ answer }}</li>
        </ol>
      </div>
    </li>
    <li>
      <div class="question">
        <p>{{ question3.question }}</p>
        <ol type="a">
          <li *ngFor="let answer of question3.answers">{{ answer }}</li>
        </ol>
      </div>
    </li>
    <li>
      <div class="question">
        <p>{{ question4.question }}</p>
        <ol type="a">
          <li *ngFor="let answer of question4.answers">{{ answer }}</li>
        </ol>
      </div>
    </li>
    <li>
      <div class="question">
        <p>{{ question5.question }}</p>
        <ol type="a">
          <li *ngFor="let answer of question5.answers">{{ answer }}</li>
        </ol>
      </div>
    </li>
  </ol>
  <div style="display: flex; flex: 2; flex-direction: column; height: 100vh">
    <div class="timer">Time left: {{ timerService.timeLeft }}</div>
  </div>
</div>
