<div
  class="container"
  [ngStyle]="{
    'background-image': 'url(../../assets/img/keypads.jpg)',
    'background-repeat': 'no-repeat',
    'background-position': 'center',
    'background-size': 'cover'
  }"
>
  <div
    style="
      display: flex;
      flex: 2;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-start;
      align-items: center;
    "
  >
    <button routerLink="/game-select" class="back-button">Back</button>
  </div>
  <div style="display: flex; flex: 0.6; flex-direction: column; height: 100vh">
    <div
      style="
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="packing-label">
        <div class="label-header">
          <h2>Ordinea statiilor</h2>
        </div>
        <div class="label-content">
          <div>
            <p class="label-from">From: Continental</p>
            <p class="label-to">To: Digital Days</p>
            <p class="label-address">Salzburg 8, Sibiu, Romania</p>
          </div>
          <div>
            <img
              src="../../../assets/img/qr-code.png"
              alt=""
              style="width: 70px; height: 70px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="cardboard-box-inner">
      <div class="gameContainer">
        <div style="display: flex">
          <button
            class="btn"
            [value]="getItem(0)"
            type="button"
            (click)="checkSolution(button1)"
            #button1
          >
            <textarea
              cols="5"
              rows="2"
              style="
                margin-bottom: 30px;
                border: 1px solid black;
                resize: none;
                cursor: pointer;
              "
              readonly
            ></textarea
            ><span [innerHTML]="getItem(0)"> </span>
          </button>
          <button
            class="btn"
            [value]="getItem(1)"
            type="button"
            (click)="checkSolution(button2)"
            #button2
          >
            <textarea
              cols="5"
              rows="2"
              style="
                margin-bottom: 30px;
                border: 1px solid black;
                resize: none;
                cursor: pointer;
              "
              readonly
            ></textarea>
            <span [innerHTML]="getItem(1)"> </span>
          </button>
        </div>
        <div style="display: flex">
          <button
            class="btn"
            [value]="getItem(2)"
            type="button"
            (click)="checkSolution(button3)"
            #button3
          >
            <textarea
              cols="5"
              rows="2"
              style="
                margin-bottom: 30px;
                border: 1px solid black;
                resize: none;
                cursor: pointer;
              "
              readonly
            ></textarea>
            <span [innerHTML]="getItem(2)"> </span>
          </button>
          <button
            class="btn"
            [value]="getItem(3)"
            type="button"
            (click)="checkSolution(button4)"
            #button4
          >
            <textarea
              cols="5"
              rows="2"
              style="
                margin-bottom: 30px;
                border: 1px solid black;
                resize: none;
                cursor: pointer;
              "
              readonly
            ></textarea>
            <span [innerHTML]="getItem(3)"> </span>
          </button>
        </div>
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <button class="reset-btn" (click)="resetButtons()">Reset</button>
        </div>
        <div>
          <dialog #modal>
            <div class="modal">
              <p>{{ message }}</p>
              <button (click)="closeModal()" class="modal-btn">OK</button>
            </div>
          </dialog>
        </div>
      </div>
    </div>
    <div
      style="
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        src="../../assets/img/cb-box.png"
        alt=""
        style="width: 194px; height: 160px"
      />
    </div>
  </div>

  <div style="display: flex; flex: 2; flex-direction: column; height: 100vh">
    <div class="timer">Time left: {{ timerService.timeLeft }}</div>
  </div>
</div>
