<div
  class="container"
  [ngStyle]="{
    'background-image': 'url(../../assets/img/game-select.jpg)',
    'background-repeat': 'no-repeat',
    'background-position': 'center',
    'background-size': 'cover'
  }"
>
  <div
    style="display: flex; flex: 2; flex-direction: column; height: 100vh"
  ></div>
  <div style="display: flex; flex: 0.6; flex-direction: column; height: 100vh">
    <div
      style="
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        border: 1px solid black;
        height: 200px;
        background-color: #f9d6ac;
        padding: 0px 10px;
      "
      class="conveyor-belt"
    >
      <div class="scenarioTitle">
        <h1>{{ gameSolved.scenario.title }}</h1>
      </div>
      <div class="issuesList">
        <button
          type="button"
          routerLink="{{ gameSolved.scenario.minigames[0].game }}"
          class="cardboard-button"
          [disabled]="this.gameSolved.scenario.minigames[0].solved"
        >
          Problema #1
        </button>
        <button
          type="button"
          routerLink="{{ gameSolved.scenario.minigames[1].game }}"
          class="cardboard-button"
          [disabled]="this.gameSolved.scenario.minigames[1].solved"
        >
          Problema #2
        </button>
        <button
          type="button"
          routerLink="{{ gameSolved.scenario.minigames[2].game }}"
          class="cardboard-button"
          [disabled]="this.gameSolved.scenario.minigames[2].solved"
        >
          Problema #3
        </button>
      </div>
    </div>
  </div>

  <div style="display: flex; flex: 2; flex-direction: column; height: 100vh">
    <div class="timer">Time left: {{ timerService.timeLeft }}</div>
  </div>
</div>
