<div
  class="container"
  [ngStyle]="{
    'background-image': 'url(../../assets/img/passwords.jpg)',
    'background-repeat': 'no-repeat',
    'background-position': 'center',
    'background-size': 'cover'
  }"
>
  <div
    style="
      display: flex;
      flex: 2;
      flex-direction: column;
      height: 100vh;
      justify-content: flex-start;
      align-items: center;
    "
  >
    <button routerLink="/game-select" class="back-button">Back</button>
  </div>
  <div style="display: flex; flex: 0.6; flex-direction: column; height: 100vh">
    <div
      style="
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="packing-label">
        <div class="label-header">
          <h2>Ghiceste parola</h2>
        </div>
        <div class="label-content">
          <div>
            <p class="label-from">From: Continental</p>
            <p class="label-to">To: Digital Days</p>
            <p class="label-address">Salzburg 8, Sibiu, Romania</p>
          </div>
          <div>
            <img
              src="../../../assets/img/qr-code.png"
              alt=""
              style="width: 70px; height: 70px"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="cardboard-box-inner">
      <div class="game-container">
        <div class="top-buttons">
          <button
            class="top-button"
            (click)="lastL(this.firstColumn)"
            #upButtonFirstColumn
          >
            &#9650;
          </button>
          <button
            class="top-button"
            (click)="lastL(this.secondColumn)"
            #upButtonSecondColumn
          >
            &#9650;
          </button>
          <button
            class="top-button"
            (click)="lastL(this.thirdColumn)"
            #upButtonThirdColumn
          >
            &#9650;
          </button>
          <button
            class="top-button"
            (click)="lastL(this.fourthColumn)"
            #upButtonFourthColumn
          >
            &#9650;
          </button>
          <button
            class="top-button"
            (click)="lastL(this.fifthColumn)"
            #upButtonFifthColumn
          >
            &#9650;
          </button>
        </div>
        <div class="word-screen">
          <p class="word-letters" #middleButtonFirstColumn>
            {{ this.firstColumn.letters[firstColumn.currentIndex] }}
          </p>
          <p class="word-letters" #middleButtonSecondColumn>
            {{ this.secondColumn.letters[secondColumn.currentIndex] }}
          </p>
          <p class="word-letters" #middleButtonThirdColumn>
            {{ this.thirdColumn.letters[thirdColumn.currentIndex] }}
          </p>
          <p class="word-letters" #middleButtonFourthColumn>
            {{ this.fourthColumn.letters[fourthColumn.currentIndex] }}
          </p>
          <p class="word-letters" #middleButtonFifthColumn>
            {{ this.fifthColumn.letters[fifthColumn.currentIndex] }}
          </p>
        </div>
        <div class="bottom-buttons">
          <button
            class="bottom-button"
            (click)="nextL(this.firstColumn)"
            #downButtonFirstColumn
          >
            &#9660;
          </button>
          <button
            class="bottom-button"
            (click)="nextL(this.secondColumn)"
            #downButtonSecondColumn
          >
            &#9660;
          </button>
          <button
            class="bottom-button"
            (click)="nextL(this.thirdColumn)"
            #downButtonThirdColumn
          >
            &#9660;
          </button>
          <button
            class="bottom-button"
            (click)="nextL(this.fourthColumn)"
            #downButtonFourthColumn
          >
            &#9660;
          </button>
          <button
            class="bottom-button"
            (click)="nextL(this.fifthColumn)"
            #downButtonFifthColumn
          >
            &#9660;
          </button>
        </div>

        <div>
          <button class="btn-submit" (click)="submit()">SUBMIT</button>
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        src="../../assets/img/cb-box.png"
        alt=""
        style="width: 194px; height: 160px"
      />
    </div>
  </div>

  <div style="display: flex; flex: 2; flex-direction: column; height: 100vh">
    <div class="timer">Time left: {{ timerService.timeLeft }}</div>
  </div>
</div>

<div>
  <dialog #modal>
    <div class="modal">
      <p>{{ message }}</p>
      <button (click)="closeModal()" class="modal-btn">OK</button>
    </div>
  </dialog>
</div>
